*{
background-color: #01abfd;
}




#ra_button{
background-color: rgba(255, 255, 0, 0.947);
border: 2px solid black;
size: 100px;
font-size: 25px;
border-radius: 15px;
width:300px;
height: 45px;
cursor: pointer;

position: relative;
left: 15em;
top:14em;
}








#copy_button{
background-color: rgba(255, 255, 0, 0.947);
border: 2px solid black;
size: 100px;
font-size: 17px;
border-radius: 15px;
width:55px;
height: 50px;
cursor: pointer;

position: relative;
left: 24em;
top:20.5em;
}









body{
    min-height: 100vh;
    min-width: 400px;
    margin: 0 auto;
}





h3{
    size: 20px;
    position: relative;
    left: 1em;
    top:22.8em;
    padding: bottom top right left 0% ;  
}









.color, .complimentary{
   display: inline; 
}





#complimentary_name{
    padding-left:2.5em;
}





#Copied_text{
    border: 0.5px solid black;
    width:3em;
    border-radius: 10px;
    color: balck;
    display:inline;
    left: 2.5em;
    font-weight: 500;
    text-shadow: 2px;
    background-color:#01abfd;
}